/* Buttons em geral */
.button-donwload,
.button-estrela-favoritar,
.button-doi{
  background-color: var(--orange2);
  color: var(--white-color);
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  padding: 0.5rem 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.1rem;
  margin-left: 0.5rem;
  transition: 0.5s ease-out;
}
.button-criar-novo-topico,
.button-criar-topico {
  position: relative;
  top: -1.8rem;
}
.button-criar-novo-topico,
.button-criar-topico,
.button-enviar-topico {
  background-image: var(--orange-linear);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.12),
  0 0.2rem 0.2rem rgba(0, 0, 0, 0.24);
  border: none;
  border-radius: 0.4rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.6rem;
  color: white;
  padding: 0.5rem 1.3rem;
  height: 3.2rem;
  transition: 0.5s ease-out;
  position: relative;
}

.button-criar-novo-topico{
  width: 25%;
}

.button-enviar-topico {
  font-family: "Quicksand";
  height: 3.1rem;
  width: 25.1rem;
}

.button-donwload:hover,
.button-estrela-favoritar:hover,
.button-doi:hover,
.button-criar-topico:hover,
.button-enviar-topico:hover,
.button-criar-novo-topico:hover {
  background-color: var(--preto-claro);
  transition: 0.5s ease-out;
  background-image: none;
}

/* Buttons do topico -> tres pontos / coração */

.button-tres-pontos-info {
  margin-right: 1rem;
}

.button-tres-pontos-info,
.button-favoritar-coracao {
  border: none;
  background-color: var(--white-color);
}

.button-favoritar-coracao path {
  transition: 0.5s ease-out;
}

.button-favoritar-coracao path:hover {
  transition: 0.5s ease-out;
  fill: var(--preto-claro);
}

@media (max-width: 923px) {
  .button-criar-novo-topico {
    width: auto;
  }
}
