/* Config global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* o HTML esta com 62.5% que é 10px de 16px(100%) padrão do navegador  
  com isso 1.6rem(filha) x 10px(HTMLouBODY/62.5%) = 16px(filha)
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand";
  /* 14px --> 1.4rem(filha) x 10px(HTML/62.5%) = 14x(filha => body) */
  font-size: 1.4rem;
  color: var(--secondary-color);
  overflow: hidden;
  display: flex;
  height: 100vh;
}

main {
  height: 100vh;
  overflow-y: auto;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

li:hover {
  background-color: var(--primary-color);
}

li:hover::before {
  content: "";
  background-image: linear-gradient(#ffb354, #ee7a3a);
  width: 0.5rem;
  height: 3.3rem;
}

button {
  background-color: var(--orange2);
  color: var(--white-color);
  border: none;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  padding: 0.5rem 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.1rem;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: 0.5s ease-out;
}


button:hover{
  background-color: var(--preto-claro);
  transition: 0.5s ease-out;
  background-image: none;
}

/* h1{
  font-size: 3rem;
} */

/* h2{
  font-size: 6rem;
}

h3{
  font-size: 5rem;
}

h4{
  font-size: 4.5rem;
}

h5{
  font-size: 4rem;

}

h6{
  font-size: 3.5rem;

} */

a {
  text-decoration: none;
  color: inherit;
}
