.button-laranja{
  display: none;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.laranja-menu-responsivo{
  width: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.x-fechar-menu-responsivo{
  display: none;
  outline: none;
  border: none;
  background: var(--orange2);
  color: var(--white-color);
  padding: 0;
  cursor: pointer;
  padding: 1rem 1rem;
  text-align: center;
  border-radius: 1rem;
  cursor: pointer;
  position: absolute;
  top: 7rem;
  left: 18.6rem;
  transition: 0.5s ease-in-out;
}
.x-fechar-menu-responsivo:hover{
  background: var(--preto-claro);
  transition: 0.5s ease-in-out;
}
@media (max-width:734px) {
  .button-laranja{
    display: block;
  }
  .x-fechar-menu-responsivo{
    display: block;
  }
}