.button-laranja,
.x-fechar-menu-responsivo{
  display: none;
  padding: 0;
}

.laranja-menu-responsivo {
  width: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.x-fechar-menu-responsivo {
  background: var(--orange2);
  color: var(--white-color);
  padding: 1rem 1rem;
  border-radius: 1rem;
  position: absolute;
  top: 7rem;
  left: 18.6rem;
  transition: 0.5s ease-in-out;
}
.x-fechar-menu-responsivo:hover {
  background: var(--preto-claro);
  transition: 0.5s ease-in-out;
}
@media (max-width: 734px) {
  .button-laranja {
    display: block;
  }
  .x-fechar-menu-responsivo {
    display: block;
  }
}
