/* Modal responsivo do user */
.modal-usuario-responsivo {
  display: none;
  position: absolute;
  top: 6rem;
  right: 2rem;
  text-align: center;
  background-color: var(--orange2);
  color: var(--white-color);
  padding: 1rem 1rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--preto-claro);
}

.modal-usuario-responsivo::before {
  /* display: none; */
  content: "";
  position: relative;
  top: -1.2rem;
  right: -6.3rem;
  background-color: var(--orange2);
  color: var(--white-color);
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--preto-claro);
}

@media (max-width: 1280px) {
  .modal-usuario-responsivo::before {
    right: -6.2rem;
  }
}

@media (max-width: 912px) {
  .modal-usuario-responsivo::before {
    right: -7.8rem;
  }
}

@media (max-width: 897px) {
  .modal-usuario-responsivo::before {
    right: -6.2rem;
  }
}

@media (max-width: 880px) {
  .modal-usuario-responsivo::before {
    right: -6.2rem;
  }
}

@media (max-width: 734px) {
  .modal-usuario-responsivo::before {
    right: -9.3rem;
  }
}

@media (max-width: 667px) {
  .modal-usuario-responsivo {
    top: 8rem;
    right: 0.5rem;
  }
  .modal-usuario-responsivo::before {
    right: -9.5rem;
  }
}

@media (max-width: 665px) {
  .modal-usuario-responsivo {
    top: 6rem;
    right: 2.2rem;
  }
  .modal-usuario-responsivo::before {
    right: -9.5rem;
  }
}

@media (max-width: 540px) {
  .modal-usuario-responsivo {
    top: 6rem;
    right: 0.5rem;
  }
  .modal-usuario-responsivo::before {
    right: -9.5rem;
  }
}

@media (max-width: 412px) {
  .modal-usuario-responsivo {
    top: 7.5rem;
    right: 0.5rem;
  }
  .modal-usuario-responsivo::before {
    right: -9.5rem;
  }
}

@media (max-width: 415px) {
  .modal-usuario-responsivo {
    top: 8rem;
    right: 0.5rem;
  }
  .modal-usuario-responsivo::before {
    right: -9.5rem;
  }
}

@media (max-width: 360px) {
  .modal-usuario-responsivo {
    top: 10rem;
    right: 0.5rem;
  }
}

@media (max-width: 280px) {
  .modal-usuario-responsivo {
    top: 16.5rem;
    right: 4rem;
  }
  .modal-usuario-responsivo::before {
    right: -6.5rem;
  }
}
