/* Todo meu estilo */
/* 900 Black */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
/* 700 bold */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
/* 400 regular*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Header principal - left */
.header-principal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3.1rem;
  padding-left: 3.6rem;
  background-color: var(--primary-color);
  font-family: 'roboto';
}

.header-principal p {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
}

.header-principal p:nth-child(1) {
  padding-top: 0.5rem;
}

.header-principal p:nth-child(3) {
  padding-bottom: 0.2rem;
}

.header-principal h2 {
  font-weight: 400;
  padding-top: 0.3rem;
  font-size: 2rem;
  line-height: 2.6rem;
}

/* Header da direita - Login e opções */

.header-da-direita {
  display: flex;
}

.options-linguagem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--CCCCCC);
  border-radius: 0.3rem;
  cursor: pointer;
  height: 3.4rem;
  width: 9.7rem;
  margin-right: 2.2rem;
}

.options-linguagem select {
  outline: none;
  color: #333333;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  appearance: none;
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.login {
  display: flex;
  text-align: end;
  font-family: "Quicksand";
}

.sobre-usuario p:nth-child(1) {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 400;
}

.sobre-usuario p:nth-child(2) {
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.imagem-usuario {
  position: relative;
  cursor: pointer;
}

.imagem-usuario .notification {
  position: absolute;
  right: -0.2rem;
}

/* Conteudo video */
.container{
  

}

.video-section{
  display: flex;
}
.video-left h2 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
  color: var(--orange2);
  font-family: "roboto";
}
