/* Todo meu estilo */

/* Header principal - left */
.header-principal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3.1rem;
  padding-left: 3.6rem;
  background-color: var(--primary-color);
  font-family: "roboto";
  width: 100%;
  height: 6.8rem;
}

.header-principal p {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
}

.header-principal p:nth-child(1) {
  padding-top: 0.5rem;
}

.header-principal p:nth-child(3) {
  padding-bottom: 0.2rem;
}

.header-principal h2 {
  font-weight: 400;
  padding-top: 0.3rem;
  font-size: 2.2rem;
  line-height: 2.6rem;
}

/* Header da direita - Login e opções */

.header-da-direita {
  display: flex;
}

.options-linguagem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--CCCCCC);
  border-radius: 0.3rem;
  cursor: pointer;
  height: 3.4rem;
  width: 9.7rem;
  margin-right: 2.2rem;
}

.options-linguagem select {
  outline: none;
  color: var(--preto-claro);
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  appearance: none;
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.login {
  display: flex;
  text-align: end;
  font-family: "Quicksand";
}

.sobre-usuario p:nth-child(1) {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 400;
}

.sobre-usuario p:nth-child(2) {
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.imagem-usuario {
  position: relative;
  cursor: pointer;
}

.imagem-usuario .notification {
  position: absolute;
  right: -0.2rem;
}

/* Parte de baxio */
.container {
  padding: 2rem 2.8rem;
  height: auto;
}
/* Conteudo video */
.video-section {
  display: flex;
}

/* Esquerda */
.video-left {
  width: 80%;
}

.video-left h2 {
  width: 90%;
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
  color: var(--orange2);
  font-family: "roboto";
}

.video-left img {
  margin-top: 1.8rem;
  width: 95%;
  height: 72vh;
}

/* Direita */
.video-rigth {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.buttons-video-right {
  display: flex;
}

.video-rigth .como-citar-esse-trabalho {
  font-family: "roboto";
  height: 2.5rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
  color: var(--orange2);
  margin-top: 1rem;
}

.video-rigth-detalhes {
  display: flex;
  flex-direction: column;
  width: 23.2rem;
  height: 72vh;
}

.deatlhes-header {
  padding: 0.9rem 1.5rem;
}

.detalhes {
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.02em;
  line-height: 120%;
  font-family: "Quicksand";
  color: var(--preto-claro2);
  overflow-y: scroll;
}

.autores {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 120%;
  margin-top: 2rem;
}
.universidades {
  color: var(--marrom-claro);
  line-height: 1.2rem;
  letter-spacing: 100%;
  margin-top: 4rem;
}

/* resumo */

.resumo {
  margin-top: 2.5rem;
}

.resumo-texto p {
  color: var(--preto-claro2);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.3rem;
  letter-spacing: 0.02em;
}

.ver-mais-laranja {
  cursor: pointer;
  color: var(--orange2);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 152.34%;
  letter-spacing: 0.02em;
}

.mais {
  display: none;
}

/* discussoes */
.discussoes {
  margin-top: 3rem;
}

.discussoes-comentarios-icones {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Criar topico */

.criar-topico-duvida{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.criar-topico-duvida p:nth-child(1) {
  color: var(--orange2);
  font-family: "roboto";
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 700;
  margin-top: 1.5rem;
  text-align: center;
}

.discussoes-icons {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin-top: 2.7rem;
  margin-bottom: 3.5rem;
}

.descricao-sobre-discussoes {
  color: var(--cinza-escuro);
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: 400;
  width: 50%;
  text-align: center;
}

.linha-divisoria {
  border: 0.1rem solid var(--cor-borda-de-baixo);
  width: 97%;
  margin-top: 3rem;
}

/* Enviar topico */

.enviar-topico-duvida{
  width: 100%;
  display: none;
  padding: 0rem 2rem 0rem;
}

.paragrafo-enviando-uma-duvida{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  margin-top: 1rem;
}
.novo-assunto{
  width: 100%;
}

.novo-assunto .primeiro-input{
  display: flex;
  flex-direction: column;
}

.novo-assunto .segundo-input{
  display: flex;
  flex-direction: column;
}

.primeiro-input label, .segundo-input label {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: var(--orange2);
}

.segundo-input label{
  margin-top: 1rem;
}

.primeiro-input input{
  outline: none;
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  border-radius: 0.3rem;
  width: 100%;
  height: 3.9rem;
  border: 1px solid var(--CCCCCC);
}

.primeiro-input input, textarea{
  outline: none;
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  border-radius: 0.3rem;
  width: 100%;
  border: 0.1rem solid var(--CCCCCC);
  padding: 1rem 1.5rem;
}

textarea{
  resize: none;
}

.botoes-de-enviar-topico{
  background-color: var(--azul-claro);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem solid var(--CCCCCC);
}

.button-b-bold{
  margin-left: 1rem;
}

.button-i-italic{
  margin-left: 1rem;
}

.linha-divisoria-enviar-topico{
  border-bottom: 0.1rem solid var(--cor-borda-de-baixo);
  width: 100%;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

/* Topico enviado */

.topico-duvida-enviado{
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: none;
  width: 100%;
  padding: 0rem 2rem 0rem;
}

.topico-duvida-enviado h2{
  font-family: 'Roboto';
  font-weight: 700;
  font-size:1.8rem;
  line-height: 2.1rem;
  color: var(--orange2);
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.topico-duvida-enviado p{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  margin-bottom: 1.5rem;
}

.topico-duvida-enviado .descubra-outros-trabalhos, .feedback-enviado .editar-topico{
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: var(--orange3);
  margin-top: 1rem;
  border-bottom: 0.1rem solid var(--orange3);
  cursor: pointer;
}

.linha-divisoria-topico-enviado{
  border-bottom: 0.1rem solid var(--cor-borda-de-baixo);
  margin-top: 5rem;
}

.feedback-enviado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.8rem rgb(0 0 0 / 12%);
  margin-bottom: 1.6rem;
  width: 100%;
  min-height: 14.8rem;
}

/* Topicos */

.topicos {
  /* 0 em cima/ 2 do lado esquerdo e direito e 0 em baixo */
  padding: 0rem 2rem 0rem;
}

.topico {
  box-shadow: 0 0 0.8rem rgb(0 0 0 / 12%);
  margin-bottom: 1.6rem;
  width: 100%;
  cursor: pointer;
}

.mais-pergunta-topico{
  display: none;
}

.container-header-topico {
  margin-bottom: 1rem;
}

.container-header-topico h2 {
  color: var(--orange2);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
}

.container-header-topico p {
  color: var(--preto-claro2);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.topico .pergunta-do-topico {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  margin-bottom: 1rem;
  color: var(--cinza-mais-escuro);
}

.buttons-favoritar-mais-info {
  display: flex;
  align-items: center;
}

/* Likes e comentarios */
.buttons-favoritar-mais-info p {
  margin-left: 1.2rem;
}

/* Respostas dos topicos */
.respostas-do-topico{
  margin-bottom: 1.6rem;
  display: none;
}

.topico-resposta-autor {
  background-color: var(--cinza-claro);
  border-radius: 0;
}

.topico-resposta-autor .container-header-topico{
  display: flex;
  justify-content: space-between;
}


.topico-resposta-autor .container-header-topico div{
  display: flex;
}

.topico-resposta-autor .container-header-topico div p{
  margin-right: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--orange2);
}

footer {
  margin-left: 1.5rem;
}

footer img{
  width: 100%;
}

/* responsivo */

@media (max-width: 1280px) {
  .header-principal h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}

@media (max-width: 1110px) {
  .header-principal h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .header-principal p {
    font-size: 1rem;
  }

  .video-section {
    flex-direction: column;
  }

  .video-left {
    width: auto;
  }
  .video-left img {
    width: 100%;
    height: auto;
  }

  .video-rigth {
    align-items: flex-start;
  }

  .video-rigth-detalhes {
    width: 100%;
  }
}

@media (max-width: 896px) {
  .sobre-usuario p {
    display: none;
  }
}

@media (max-width: 734px) {
  .header-principal-container {
    padding: 0;
  }
  .header-principal-container{
    height: auto;
  }
}

@media (max-width: 280px) {
  .header-principal-container{
    flex-direction: column;
    padding: 0.5rem 0.5rem;
  }
  .header-principal h2 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .header-principal p {
    font-size: 0.8rem;
  }
}