/* Variaveis globais */
:root{
  --primary-color: #FDF1EB;
  --secondary-color: #725C5C;
  --white-color: #fff;
  --orange-linear: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  --orange1: #FFB455;
  --orange2: #ED7839;
  --cor-borda-de-baixo: #E7E7E7;
  --CCCCCC: #CCCCCC;
}