/* Variaveis globais */
:root {
  --primary-color: #fdf1eb;
  --secondary-color: #725c5c;
  --white-color: #fff;
  --orange-linear: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
  --orange1: #ffb455;
  --orange2: #ed7839;
  --cor-borda-de-baixo: #e7e7e7;
  --CCCCCC: #cccccc;
  --cinza: #BFBFBF;
  --preto-claro: #333333;
  --preto-claro2:#5C5C5C;
  --marrom-claro: #ADA0A0;
  --cor-de-borda: #ECECEC;
}
